@font-face {
    font-family: "Norse-Bold";
    src: url("Norse-Bold.otf");
}

body{
    
}

a{
    text-decoration: none;
    color: white;
}
.container::after{
    content: "";
    display: block;
    clear: both;
}


.title{
    position:relative;
    float: left;
    width: 40%;    
    height: 100%;    
}


.title-background{
    width: 100%;
    height: 100%;
}
.title-logo{
    position: absolute;
    top: 40%;
    /*left: 30%;*/
    text-align: center;
    width: 100%;
}
.title-logo > img{    
    width: 10%;
    height: 10%;
}
.title-logo > span{
    margin-left: 30px;
    font-size: 90px;
    color: #fff;
    opacity: 0.5;
    font-family: "Norse-Bold";
}

.photo-credit{
    position: absolute;
    bottom: 30px;
    left: 30%;
    color: white;
    opacity: 0.4;
}
.photo-credit > a{
    text-decoration: none;
}

fieldset{
    border: 0 none;
}
legend{
    margin-bottom: 30px;
}
.form {
    width: 49%;
    height: 100%;
    float: left;
    margin-left: 15px;
}

.form > .description{
    font-weight: bold;
    font-size: 22px;
}


form{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}
/*input,label{*/
.form-input{
    display: flex;   
    flex-direction: column;
}

button{
    margin-top: 50px;
    padding: 10px;
 
}

form>button{
  background-color: #596D48;
}

fieldset>p>a{
    margin-left: 10px;
    color: #596D48;
}
